# General
.DS_Store

# VSCode directories
.vscode/

*.png
*.zip
*/cmake-build/*
__pycache__

px4/auto-test/test_resource/eval/*.txt
px4/auto-test/test_resource/logs/*.csv
px4/auto-test/test_resource/work/*.json

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
