[submodule "hakoniwa/third-party/hakoniwa-core-cpp-client"]
	path = hakoniwa/third-party/hakoniwa-core-cpp-client
	url = https://github.com/toppers/hakoniwa-core-cpp-client.git
[submodule "hakoniwa/third-party/glm"]
	path = hakoniwa/third-party/glm
	url = https://github.com/g-truc/glm.git
[submodule "thirdparty/mavlink_c_library_v2"]
	path = thirdparty/mavlink_c_library_v2
	url = https://github.com/mavlink/c_library_v2.git
