[submodule "c_library_v2"]
	path = thirdparty/c_library_v2
	url = https://github.com/mavlink/c_library_v2.git
[submodule "hakoniwa/third-party/hakoniwa-core-cpp-client"]
	path = hakoniwa/third-party/hakoniwa-core-cpp-client
	url = https://github.com/toppers/hakoniwa-core-cpp-client.git
[submodule "hakoniwa/third-party/hakoniwa-ros2pdu"]
	path = hakoniwa/third-party/hakoniwa-ros2pdu
	url = https://github.com/toppers/hakoniwa-ros2pdu.git
[submodule "hakoniwa/third-party/glm"]
	path = hakoniwa/third-party/glm
	url = https://github.com/g-truc/glm.git
[submodule "hakoniwa/third-party/hakoniwa-python-simasset-plugin"]
	path = hakoniwa/third-party/hakoniwa-python-simasset-plugin
	url = https://github.com/toppers/hakoniwa-python-simasset-plugin.git
