# General
.DS_Store

# VSCode directories
.vscode/

*.png
*.zip
*/cmake-build/*
__pycache__

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
